<h2>Add Players</h2>
<input type="text" ng-model="search" class="search-query" placeholder="Search player">

<table class="table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Add</th>
            <th><a ui-sref='add_player'><i class="icon-plus-sign"></i></a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in players | filter:search | orderBy:'name'">
            <td>{[{player.name}]}</td>
            <td><i class="icon-plus-sign"></i></td>
            <td><i class="icon-pencil"></i></td>
        </tr>
    </tbody>
</table>