<h2>Players</h2>
<form ng-submit="!isClean() && add()">
    <input type="text" class="search-query" ng-model="typeaheadValue" bs-typeahead="typeahead"
       placeholder="Search player" required>
</form>

<table class="table table-select">
    <thead>
        <tr>
            <th>Player</th>
            <th>Remove</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in playing() | orderBy:'name'"
            ng-mouseenter="show = true" ng-mouseleave="show = false">
            <td>{[{player.name}]}</td>
            <td><i ng-show="show" class="icon-minus-sign" ng-click=remove(player)></i></td>
            <td><i ng-show="show" class="icon-pencil"></i></td>
        </tr>
    </tbody>
</table>

<div style="margin-bottom: 10px">
    <button ui-sref='add_player' class="btn btn-primary">New Player..</button>
</div>
