<h2>Players</h2>
<input type="text" ng-model="search" class="search-query" placeholder="Search player">

<table class="table table-select">
    <thead>
        <tr>
            <th>Player</th>
            <th><a ui-sref='add_player'><i class="icon-plus-sign" style="cursor:pointer"></i></a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in players | filter:search | orderBy:'name'"
            ng-class="row_class(player)" ng-click="flip(player)"
            ng-mouseenter="show = true" ng-mouseleave="show = false">
            <td>{[{player.name}]}</td>
            <td><i ng-show="show" class="icon-pencil"></i></td>
        </tr>
    </tbody>
</table>
