.level-class {
    background-color: rgb(47, 150, 180);

    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset;
    -webkit-border-radius: 25px;
    border-radius: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    color: white;
}

.box-class {
    /*background-color: rgba(116, 160, 38, 0.5);*/

    /*-moz-box-shadow: inset #B3B3B3 0 -1px 0 0;*/
    /*-webkit-box-shadow: inset #B3B3B3 0 -1px 0 0;*/
    box-shadow: inset darkblue 0 0 4px 0;
    /*box-shadow: blue -1px -1px 0px 0px inset;*/
    /*-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset;*/
    /*-webkit-border-radius: 25px;*/
    border-radius: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    margin-top: 2px;
    margin-bottom: 2px;
    /*color: white;*/
    /*border-radius: 2px;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
}

body {
    background-color: #f5f5f5;
}

.start-class {
    font-size: 120%;
    line-height: 30px;
    max-width: 320px;
    width: 100%;
    margin-bottom: 10px;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #E1F1F8;
}

.selected-element {
    background-color: #E1F1F8;
}

.table-select tbody tr:hover > td,
.table-select tbody tr:hover > th {
    cursor: pointer;
}

.players-table td:first-child {
    width: 70%;
}

.remove-player {
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

@media only screen and (min-width: 480px) {
    .clock-class {
        font-size: 1000%;
        vertical-align: middle;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .start-class {
        font-size: 120%;
        line-height: 30px;
        width: 320px;
    }
}