<!DOCTYPE html>
<html ng-app="Poker">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/blind.js' %}"></script>
    <script type="text/javascript">
        dataModel = {{blinds}};
    </script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<audio id="levelup" src="{% static 'audio/levelup.mp3' %}" preload="auto" ng-controller="Audio"></audio>
<div style="max-width: 750px; margin: 0 auto">
<div id='clock' ng-controller="Timer" class="clock-class">
    <div id='Level' class='item-class'>
        <span>Level {[{level}]}</span>
    </div>
    <div class='item-class'>
        <span>{[{minutes()}]}:{[{seconds() | numberFixedLen:2}]}</span>
    </div>
    <form class='item-class' ng-submit="flip()">
        <input class="btn-primary" type="submit" value="{[{btn()}]}">
    </form>
</div>
<div ng-controller="Blind">
    <div id='small-blind' class='item-class blind-class blind-text-class'>
        <div class='blind-value'>
            <label>Small blind:</label>
            <span>{[{small}]}</span>
        </div>
        <div class='next-blind-class'>
            <label>Next:</label>
            200
        </div>
    </div>
    <div id='big-blind' class='item-class blind-class blind-text-class'>
        <div class='blind-value'>
            <label>Big blind:</label>
            <span>{[{big}]}</span>
        </div>
        <div class='next-blind-class'>
            <label>Next:</label>
            400
        </div>
    </div>
</div>
<div id='ante' class='item-class blind-text-class' ng-controller="Ante">
    <div class='blind-value'>
        <label>Ante:</label>
        <span>{[{ante}]}</span>
    </div>
    <div class='next-blind-class'>
        <label>Next:</label>
        400
    </div>
</div>
</div>
</body>
</html>
