<!DOCTYPE html>
{% load staticfiles %}
{% load jsonify %}
<html ng-app="Poker">
<head>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="{% static "js/timer.js" %}"></script>
    <script src="{% static 'js/blind.js' %}"></script>
    <script type="text/javascript">
        blinds = JSON.parse('{{blinds|jsonify}}');
    </script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<audio id="levelup" src="{% static 'audio/levelup.mp3' %}" preload="auto" ng-controller="Audio"></audio>
<div class='main-div-class'>
    <div id='clock' ng-controller="Timer" class="clock-class">
        <div id='Level' class='item-class'>
            <span>Level {[{level}]}</span>
        </div>
        <div class='item-class'>
            <span>{[{minutes()}]}:{[{seconds() | numberFixedLen:2}]}</span>
        </div>
        <form class='item-class' ng-submit="flip()">
            <input class="btn-primary" type="submit" value="{[{btn()}]}"/>
        </form>
    </div>
    <div>
        <div id='small-blind' class='item-class blind-class blind-text-class'>
            <div class='blind-value' ng-controller="BlindValue" ng-init="init('small', false)">
                <label>Small blind:</label>
                <span>{[{value}]}</span>
            </div>
            <div class='next-blind-class' ng-controller="BlindValue" ng-init="init('small', true)">
                <label>Next:</label>
                <span>{[{value}]}</span>
            </div>
        </div>
        <div id='big-blind' class='item-class blind-class blind-text-class'>
            <div class='blind-value' ng-controller="BlindValue" ng-init="init('big', false)">
                <label>Big blind:</label>
                <span>{[{value}]}</span>
            </div>
            <div class='next-blind-class' ng-controller="BlindValue" ng-init="init('big', true)">
                <label>Next:</label>
                <span>{[{value}]}</span>
            </div>
        </div>
    </div>
    <div id='ante' class='item-class blind-text-class'>
        <div class='blind-value' ng-controller="BlindValue" ng-init="init('ante', false)">
            <label>Ante:</label>
            <span>{[{value}]}</span>
        </div>
        <div class='next-blind-class' ng-controller="AnteValue" ng-init="init('ante', true)">
            <label>Next:</label>
            <span>{[{value}]}</span>
        </div>
    </div>
</div>
</body>
</html>
